[user]
	name = Huawen Yu
	email = hyu@fortinet.com
[core]
	excludesfile = /home/wilson/.gitignore_global
#[format]
#	pretty = format:%h %ad %s(%an)
[log]
	date = short
[github]
	user = huawenyu
[alias]
	log1 = log --graph --abbrev-commit --decorate --date=short --format=format:'%C(bold blue)%h%C(reset) %ad %C(white)%s%C(reset) %C(dim white)%C(cyan)(%an)%C(reset)%C(reset)%C(bold yellow)%d%C(reset)' --all
	log2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[credential]
	helper = cache --timeout 3600
[pack]
	windowMemory = 100m
	SizeLimit = 100m
	threads = 1
	window = 0
