! vim: set filetype=xdefaults :

!***********************************************************************
! Help
! xrdb -load ~/.Xresource
! xrdb -query -all
! xrdb -merge ~/.Xdefault
!***********************************************************************

#include ".Xrxvt"
#include ".Xxterm"
